<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is My Help page</h1>
			<p>How may i help you..?</p>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	</body>
</html>